.aboutWrapper {
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutLink {
    color: var(--highlight);
}

.aboutLink:visited {
    color: var(--highlight);
}