

.worldImg {
    width: 150px;
    border-radius: 100px;
}

.worldHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.worldName {
    font-size: 30px;
}

.worldButton {
    padding-top: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(160,160,160);
}

.worldButton:hover {
    color: white;
}

.worldCard {
    background-color: rgb(32,46,72);
    padding: 15px;
    margin: 10px;
    min-width: 400px;
    max-width: 400px;
}

.worldHeaderDetails {
    display: flex;
    flex-direction: column;
}

.worldCardButtons {
    color: rgb(160,160,160);
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.worldContent {
    display: flex;
    flex-direction: column;
}

.summaryHeader {
    color: rgb(160,160,160);
    font-size: 14px;
    margin-bottom: 6px;
}

@media only screen and (max-width: 1600px) {
    .worldCardButtons {
        display: flex;
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 1700px) {
    .worldCard {
        min-width: 900px;
        max-width: 900px;
    }

    .worldHeader {
        justify-content: flex-start;
    }

    .worldImg {
        margin-right: 20px;
    }
}