.stateWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.worldStateName {
    font-size: 22px;
}

.worldStateHeader {
    display: flex;
    flex-direction: row;
}

.editImg {
    max-width: 25px;
    max-height: 25px;
}