.formSection {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 5px;
}

.questSection {
    margin-bottom: 20px;
}

.gameSection {
    display: flex;
    flex-direction: column;
}

.viewLink {
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

.viewLink:hover {
    background-color: var(--highlight);
}

.worldFormContainer {
    margin-bottom: 25px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-between; 
    background-color: var(--primary);
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--highlight);
}

.gamesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 50px;
}

.formHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.formButton {
    background-color: var(--secondary);
    color: var(--text);
    padding: 10px;
    margin-right: 7px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    font-size: 14px;
    margin-left: 7px;
}

.formButton:hover {
    cursor: pointer;
    background-color: var(--highlight);
}