.formSection {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 5px;
}

.questSection {
    margin-bottom: 20px;
}

.gameSection {
    display: flex;
    flex-direction: column;
}

.viewLink {
    padding: 10px;
    background-color: #0096fb;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.worldFormContainer {
    margin-bottom: 25px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-between; 
    background-color: rgb(70,62,103);
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px;
    outline-style: solid;
    outline-color: rgb(116,104,162);
}

.gamesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 50px;
}

.formHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formButton {
    background-color: #0096fb;
    color: white;
    margin-top: 25px;
    padding: 10px;
    margin-right: 7px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    font-size: 14px;
}

.formButton:hover {
    cursor: pointer;
}

/* .submit {
    background-color: #0096fb;
    padding: 10px;
    border: 0;
    color: white;
    border-radius: 30px;
    outline: 0;
} */