

@media only screen and (max-width: 900px) {
    .multiselect-container {
        max-width: 90% !important;
    }
}

.optionContainer li:hover,
.optionContainer .highlight {
background: var(--highlight);
color: #fff;
}