.viewWorldWrapper {
    background-color: var(--primary);
    margin-top: 20px;
    border-radius: 30px;
    outline-style: solid;
    outline-color: var(--highlight);
    outline-width: 2px;
    width: 80vw;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.protagButtons {
    margin-top: 10px;
}
.viewWorldHeader {
    padding-bottom: 15px;
    border-bottom: solid;
    border-color: var(--highlight);
    border-width: 2px;
    /* margin: 30px; */
}
.protagButton{
    background-color: var(--secondary);
    border-radius: 30px;
    border: none;
    color: white;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.summary {
    max-width: 1200px;
    padding-bottom: 20px;
}

.editLink {
    color: white;
    text-decoration: none;
    background-color: var(--secondary);
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
}

.editLink:hover {
    background-color: var(--highlight);
}

.worldName {
    font-size: 36px;
}

.viewWorldHeader {
    padding: 30px 30px 10px 30px;
}

.protagButton:hover {
    background-color: var(--highlight);
}

.protagButton:active {
    box-shadow: none !important;
}

.protagButton:focus {
    background-color: var(--selected);
}

.protagButtonSelected {
    background-color: var(--selected) !important;
    border-radius: 30px;
    border: none;
    color: white;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gameViewsWrapper {
    padding: 10px 30px 10px 30px;
}

.questHeader {
    font-size: 24px;
    margin-bottom: 5px;
}

.questViewWrapper {
    margin-bottom: 25px;
}

.decisions {
    margin-bottom: 10px;
    margin-left: 15px;
}

.protagDetails {
    margin-bottom: 10px;
}
.protagDetail {
    margin-bottom: 5px;;
}
.protagName {
    font-size: 36px;
}

.gameViewWrapper {
    margin-top: 10px;
    margin-bottom: 45px;
}
