.navWrapper {
    width: 90%;
    max-width: 1580px;
    padding-top: 40px;
}


@media only screen and (max-width: 1200px) {
    .navButtons {
        display: flex;
        flex-direction: column;
    }
    .homeButton {
        font-size: 24px !important;
    }
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;        
}

.homeButton{
    font-size: 36px;
    text-decoration: none;
    color: var(--text);
}

.navButton {
    padding-right: 15px;
    text-decoration: none;
    color: var(--text);
}

.navButtonSelected {
    padding-right: 15px;
    text-decoration: none;
    color: var(--secondary);
}

.navButton:hover {
    color: var(--highlight);
    cursor: pointer;
}

.navButtonSelected:hover {
    color: var(--highlight);
}
hr.navDivider {
    border-top: 1px solid #fff;
}

/* todo: hamburger menu for mobile view */