.navWrapper {
    width: 90%;
    max-width: 1580px;
    padding-top: 40px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;
}

.homeButton{
    font-size: 36px;
    text-decoration: none;
    color: white;
}

.navButton {
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

hr.navDivider {
    border-top: 1px solid #fff;
}

/* todo: hamburger menu for mobile view */